body
{
    background-color:#007d1e;
}


#card-grid
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

img
{
    height: 100%;
    width: 75%;
    border: 2px solid black;
    border-radius: 8px;
}

div
{
    margin-bottom:-87%;
}

