body
{
    background-color:#007d1e;
}

#winners-panel
{
    display: flex;
    align-items: center;
    justify-content: center;
}

#card-grid
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

#buttons
{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#undo-container
{
    text-align: left;
    margin-top: 0;
}

#new-game-container
{
    text-align: right;
    margin-top: 0;
}

#undo-container button, #new-game-container button
{
    font-size: 2em;
    border-radius: 2em;
}

img
{
    height: 100%;
    width: 75%;
    border: 2px solid black;
    border-radius: 8px;
}

div.freecell
{
    margin-bottom: 1em;
}

div.freecell img
{
    border: 2px solid white;
}

div.middle
{
    border-right: 2px solid grey;
    margin-right: 11%
}

div.middle img
{
    width: 86%;
}

div.card
{
    margin-bottom:-87%;
}

div.column1
{
    grid-column: 1;
}

div.column2
{
    grid-column: 2;
}

div.column3
{
    grid-column: 3;
}

div.column4
{
    grid-column: 4;
}

div.column5
{
    grid-column: 5;
}

div.column6
{
    grid-column: 6;
}

div.column7
{
    grid-column: 7;
}

div.column8
{
    grid-column: 8;
}

div.selected img
{
    box-shadow: 4px 4px cyan, -4px -4px cyan;
}
